<body>
    <script src="js/helper.js"></script>
    <script defer src="/js/popup.js"></script>
    <link rel="stylesheet" href="css/ESNdirectoryPage.css" />
    <div id="popupbox" class="MsgBox">
        <div class="MsgBox-content" id="msgbox-content" style="position:relative;">
            <span class="close" style="position:absolute;right:0px;">&times;</span>
            <p>You have received new private messages from following users<br>
                Step back to ESNdirectoryPage to start private chat with them<br></p>
        </div>
    </div>
</body>

