:root {
	--main-color: #34495e;
	--white: #ffffff;
	--light-gray:#b6b6b6;
	--light-color: #73b0c0;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
  }

  .input-container {
    margin-bottom: 10px;
  }

  .input-container label {
    display: block;
    margin-bottom: 5px;
  }

  .input-container input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  button {
    cursor: pointer;
    padding: 6px 12px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 3px;
  }

  .close-btn {
    background-color: #ccc;
    margin-left: 5px;
  }