/* apply a reset to remove any default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* apply basic styles to the body */
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.5;
    padding: 20px;
  }
  
  /* style the page title */
  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* style the search form */
  form {
    margin-bottom: 20px;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  label {
    font-size: 1.2em;
    margin-right: 10px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 60%;
  }
  
  button[type="submit"],
  button[type="button"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #34495e;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover,
  button[type="button"]:hover {
    background-color: #34495e;
  }
  
  /* style the search results */
  .result {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
.searchButtons{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #34495e;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}