body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34495e;
    color: white;
    padding: 2rem 0.7em;
}

.header h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

#back {
    position: relative;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    padding: 1em 1em;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

#back:hover {
    color: rgb(7, 52, 62);
}

.requests {
    padding: 1rem;
    flex: 1;
    overflow-y: scroll;
}

.request-bubble {
    max-height: 100%;
    background-color: #ecf0f1;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.request-detail-and-volunteers {
    display: flex;
    justify-content: space-between;
}

.request-detail {
    flex-basis: 70%;
    max-width: 70%;
}

.request-id {
    font-weight: bold;
}

.request-sender {
    font-style: italic;
}

.request-type,
.request-details,
.request-volunteers-needed,
.request-volunteers-joined {
    margin-top: 0.5rem;
}

.request-volunteers {
    flex-basis: 30%;
}

.volunteer-name {
    margin-bottom: 0.5rem;
}

.join-btn {
    background-color: #4ca9de;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-btn:hover {
    background-color: #0c267a;
}

.header {
    background-color: #34495e;
    color: white;
    padding: 2rem 0.7em;
}

.header h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

.request-bubble {
    background-color: #ecf0f1;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.request-detail-and-volunteers {
    display: flex;
    justify-content: space-between;
}

.request-detail {
    flex-basis: 70%;
    max-width: 50%;
}

.request-id {
    font-weight: bold;
}

.request-sender {
    font-style: italic;
}

.request-type,
.request-details,
.request-volunteers-needed,
.request-volunteers-joined {
    margin-top: 0.5rem;
}

.request-volunteers {
    flex-basis: 25%;
}

.volunteer-name {
    margin-bottom: 0.5rem;
}

.request-join-form {
    margin: 1rem;
    padding: 1rem;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
}

.request-join-form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.request-join-form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}


.button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.button-container>* {
    width: 90%;
    margin-bottom: 0.5rem;
}

.button-container>div {
    width: 100%;
    margin: 0.2rem 0;
    margin-right: 0.6rem;
}

.button-container button {
    width: 90%;
    max-width: 30rem;
    padding: 0.7rem;
    background-color: #0077be;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 1.2rem;
    white-space: nowrap;
}

.button-container button:hover {
    background-color: #005fa3;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9999;
}

#popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#popup-message {
    margin: 0;
    padding: 10px 0;
    font-size: 20px;
    font-weight: bold;
}

#close-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

#close-button:hover {
    background-color: #d32f2f;
}



